<?xml version="1.0" encoding="UTF-8"?>
<!--
Created by Justin Kennedy on 2019.11.15 
Copyright © 2019 Justin Kennedy. All rights reserved.
-->

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--
    ********************************************************************
    This file is called Java Web Application Deployment Descriptor File.
    It is used to configure a Java web application for deployment.
    ********************************************************************
 
    javax.faces.PROJECT_STAGE = Development
        Instructs the compiler to perform detailed error checking. This may degrade
        the execution efficiency (performance) of large and complex applications.
 
    javax.faces.PROJECT_STAGE = Production
        Instructs the compiler to perform minimal error checking. This may improve
        the execution efficiency (performance) of large and complex applications.
      
    Change to "Production" when you are ready to deploy to obtain better performance.
    - Balci  
    For this class, we will always keep the project in development stage
    -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
  
    <!-- This enables you to insert comments within a panel grid -->
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
  
  <!-- Defines PrimeFaces uploader mode -->
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    
    <!-- 
    This enables the use of Font Awesome icons in PrimeFaces buttons on the 
    hamburger menu, the CRUD operation buttons, and any other buttons that we 
    need for this project.
    Search for more than 1,100 icons at https://fontawesome.com/icons?d=gallery&m=free
    
    -->
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>
    <mime-mapping>  
        <extension>otf</extension>  
        <mime-type>font/opentype</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>ttf</extension>  
        <mime-type>application/x-font-ttf</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>woff</extension>  
        <mime-type>application/x-font-woff</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>woff2</extension>  
        <mime-type>application/x-font-woff2</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>svg</extension>  
        <mime-type>image/svg+xml</mime-type>  
    </mime-mapping>
    
    <!--
    FacesServlet manages the request processing lifecycle for web apps
    that incorperate JavaServer Faces for their UI.
    
    The 1 in the load-on-startup designates that the FacesServlet must be loaded
    when the initalization function init() is called
  
    -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  
    <!-- 
    If the runtime determines that the Faces Servlet must be
    automatically mapped, it must be mapped to *.xhtml
    -->
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
  
    <!-- 
    The session-timeout of 30 designates after 30 minutes of inactivity the user
    will be directed to the /template/sessionTimeout.xhtml page after a 
    ViewExpiredException is thrown. 
    -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/template/sessionTimeout.xhtml</location>
    </error-page>
  
    <!-- This specifies that the initial page shown when the application is run is the
         index.xhtml page
    -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    
</web-app>